<body>
	<p class="skip"><a href="#gnb">주메뉴 바로가기</a></p>
	<p class="skip"><a href="#container">본문 바로가기</a></p>
	<div class="modal_bg" style="display: none;"></div>
	<div id="wrap">
		<header id="header">

			<div class="top_header_section clearfix">
				<div class="wrap_1240">
					<div class="logo_section left">
						<img src="/resources/admin/img/icon/ico_setting.png" alt="" />
					</div>

					<div class="hello_admin left">
						<p><em style="color: #fff; font-weight: bold;"></em>관리자 페이지입니다.</p>
					</div>

					<div class="account right">
						<p class="user">
							<em style="color: #fff; font-weight: bold;">master_cakser</em> 님 <a href="#" class="btn-logout"><span style="margin-left: 6px;" class="btn_logout">로그아웃</span></a>
						</p>					
					</div>

					<div class="go_service right">
						<p><img src="/resources/admin/img/sub/btn_go_service.png" alt="홈페이지 바로가기 아이콘입니다."/><a href="/portfolio/main/intro.php" target="_blank">홈페이지 바로가기</a></p>
					</div>				
				</div><!-- //wrap_1024 -->

			</div><!-- //top_header_section -->	
			
		</header><!--header_end-->

		<section id="container" class="wrap_1240 container clearfix">
				
			<nav class="gnb_section">

				<ul id="gnb">

					<li>
						<a href="!#" onclick="return false;" class="m_btn">WORK</a>
						<ul class="dep2">
							<li><a href="/resources/admin/sub/sub_portfolio.html">포트폴리오 관리</a></li>
							<li><a href="/resources/admin/sub/sub_recently.html">최근 작업 관리</a></li>
						</ul>
					</li>

					<!-- <li>
						<a href="!#" onclick="return false;" class="m_btn">MEMBER</a>
						<ul class="dep2">
							<li><a href="/resources/admin/sub/sub_portfolio.html">회원 관리</a></li>
						</ul>
					</li> -->

					<li>
						<a href="!#" onclick="return false;" class="m_btn">PASSWORD</a>
						<ul class="dep2">
							<li><a href="/resources/admin/sub/sub_password.html">비밀번호 수정</a></li>
						</ul>
					</li>
				</ul>
			</nav>