<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/inc/head_inc :: header">
</head>
<body class="noScroll">
	<div id="loader">
		<img src="/resources/main/img/icon/loader.png" class="loading"/>
	</div>
	<div class="modal_bg" style="display: none;"></div>

	<div class="wrap_intro">
		<header id="header_intro" role="banner">
			<h1><a href="main" rel="home"><img src="/resources/main/img/main/logo_intro.png" alt="design by casker"/></a></h1>
			<div class="headline-land">uiux design / website / web publishing portfolio</div>
			<div class="browse">
				<a class="button" href="main">Browse</a>
			</div>
			<p class="impart">이 홈페이지는 디바이스에 따라 화면의 크기가 자동으로 최적화되도록 조절되는 <strong>반응형 웹사이트</strong>입니다.<br/>이 홈페이지에 최적화된 브라우저는 <strong>익스플로러(Microsoft Explorer) 10.0 이상</strong>입니다.<br/>최신 버전의 크롬, 파이어폭스, 사파리 등에서도 이용이 가능하나, 일부 기능이 제한될 수 있습니다.</p>
		</header>
		
		<footer id="footer_intro">
			<div class="thum_profile">
				<img width="98" height="98" src="/resources/main/img/main/pp_intro.png" alt="bae sung june profile"/>
				<div class="prename">
					<p class="t1">WEB / UX DESIGNER</p>
					<p class="t2">bae sung june</p>
					<p class="t3"><a href="main">WEBSITE</a> // <a target="_blank" href="https://instagram.com/ssobora">INSTAGRAM</a> // <a target="_blank" href="https://www.pinterest.com/designbycasker">PINTEREST</a> // <a target="_blank" href="https://www.facebook.com/boyfriendfit">FACEBOOK</a></p>
				</div>
			</div>			
		</footer><!--footer_end-->

		<ul class="bg_slides">
			<li class="bg_intro01"></li>
			<li class="bg_intro02"></li>
			<li class="bg_intro03"></li>
			<li class="bg_intro04"></li>
		</ul><!-- bg_slide -->

	</div><!--wrap_intro_end-->
</body>
</html>