<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="main/inc/head_inc :: head" th:remove="tag"></object>
	<script src="/resources/main/js/main.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<div th:replace="main/inc/header_inc :: header"></div>
	</header>
	
	<section id="container">

		<!-- main visual -->
		<section class="wrap_main_visual">
			<ul class="main_visual">
				<li class="slide_img01"></li>
				<li class="slide_img01"></li>
				<li class="slide_img01"></li>
			</ul>

			<a href="#work" onclick="" class="skip_intro only_pc">
				<img src="/resources/main/img/btn/scroll_down.png" alt="SCROLL DOWN TO DISCOVER MORE"/>
			</a>		
		</section><!-- //wrap_main_visual -->

		<!-- portfolio list -->
		<section id="work" class="part">
			<div class="bg_ptn"></div>
			<div class="wrap_part">

				<h1><em>w o r k</em></h1>
				<h2><strong>항상 새롭고 차별화된 아이디어와 인사이트에 도전합니다.<br/>사용자 경험을 통해 브랜드를 이야기하고 경쟁력 있는 웹사이트를 구축하기 위해 끊임없이 고민합니다.</strong><br/>당신의 비지니스에 필요한 아름답고 유용한 기술을 제공합니다.</h2>

				<div class="wrap_masonry">
					<div class="" id="masonrybox">

					</div><!-- //masonrybox -->				
				</div>

				<a href="#//" class="more_work">더 많은 포트폴리오 불러오기</a>
				
			</div><!-- //wrap_part -->
		</section><!-- //work -->

		<section id="about" class="part">
			<div class="wrap_part">

				 <h1><em>a b o u t</em></h1>
				<h2></h2>

				<div class="wrap_920 clearfix">
					<div class="my_profile left">
						<div class="area_pic">
							<img src="/resources/main/img/main/profile_pic01.png" alt="프로필 사진입니다"/>
						</div>

						<div class="area_ptxt">
							<div class="region01">
								<p class="name_kor">배성준</p>								
								<p class="name_eng">bae sung june / web design, web publishing</p>							
							</div>

							<div class="region02">
								<p>동인천 고등학교 졸업</p>					
								<p>인천대학교 컴퓨터 공학과 졸업</p>					
								<p>J&amp;K Media Works Co., Ltd 디자인 1팀, 대리</p>				
							</div>

							<div class="region03">
								<p>
									<a target="_blank" href="https://instagram.com/feat.casker">Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
									<a target="_blank" href="https://www.pinterest.com/designbycasker">Finterest</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
									<a target="_blank" href="https://www.facebook.com/boyfriendfit">Facebook</a>
								</p>					
							</div>
						</div>
					</div><!-- //my_profile -->

					<div class="recent_project right">
						<p class="tit_region">Recent Project</p>

						<div class="wrap_table_project">

						</div><!-- //wrap_table -->						
					</div><!-- //recent_project -->
				</div>
			</div><!-- //wrap_part -->
		</section><!-- //about -->

		<section id="contact" class="part">
			<div class="wrap_part">

				<h1><em>c o n t a c t</em></h1>
				<h2><strong>메일 양식을 사용하지 않고 직접 보내고 싶으신가요?</strong> <a href="mailto:designbycasker@gmail.com" class="p_mail">designbycasker@gmail.com</a></h2>
				<!-- Not into filling forms out? -->

				<form id="contact_form wrap_920" method="post" action="/inc/mail.php">
					<div class="cf">
						<div class="left cf field">
							<label for="name">이름</label>
							<input name="name" id="name" placeholder="홍길동" required=""/>
						</div>
						<div class="right cf field">
							<label for="email">이메일</label>
							<input type="email" name="email" id="email" placeholder="your@email.com" required=""/>
						</div>
						<div class="left cf field">
							<label for="tel">연락처</label>
							<input name="tel" id="tel" placeholder="010 1234 5678"/>
						</div>
						<div class="right cf field">
							<label for="company">회사명</label>
							<input name="company" id="company" placeholder="회사명을 입력해주세요"/>
						</div>
						<div class="left cf field">
							<label for="project">프로젝트</label>
							<div class="select">
								<select name="project" id="project">
									<option value="" selected="">선택하세요</option>
									<option value="Web Design">웹 디자인</option>
									<option value="Web Publishing">웹 퍼블리싱</option>
									<option value="App Design">어플리케이션 디자인</option>
									<option value="Brand Design">브랜딩 &amp; 아이텐티티</option>	
								</select>
							</div>
						</div>
						<div class="right cf field">
							<label for="budget">프로젝트 예산</label>
							<div class="select">
								<select name="budget" id="budget">
									<option value="" selected="">선택하세요</option>									
									<option value="">500만원 이하</option>
									<option value="">500만원 ~ 1000만원</option>
									<option value="">1000만원 ~ 5000만원</option>
									<option value="">5000만원 이상</option>
									<option value="">미정</option>
								</select>
							</div>
						</div>
					</div>
					<div class="textarea">
						<textarea name="message" id="message" placeholder="귀사의 프로젝트를 설명해주세요, 홈페이지가 있다면 기재해주세요."></textarea>
					</div>
					<!-- <div id="user-message"></div> -->
					
					<p class="item agree">
						<span class="ipcheck">
							<input type="checkbox" id="privacypolicy" value="0" data-setted="true"/>
							<label for="privacypolicy">
								<a href="#privacypolicy" class="btn_privacypolicy" onclick="return false;"></a> <a class="go_policy" target="_blank" href="../sub/policy.html">개인정보보호정책</a> 에 동의합니다.
							</label>
						</span>
					</p>

					<a href="#//" class="more_work">이메일 보내기</a>
				</form>
			</div><!-- //wrap_part -->
		</section><!-- //contact -->

	</section><!-- //container End -->
	
	<footer layout:fragment="footer" th:replace="main/inc/footer_inc :: footer">
	</footer>
</body>
</html>