<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<table>
		<tr class="subImage" th:fragment="subImage (count)">
		   	<th th:text="'서브 이미지 #' + ${count}">서브 이미지 #count</th>
		   	<td>
		   		<input type="file" th:name="'subImage' + ${count}"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
		   		<span class="btn_file_del" th:attr="onclick='removeSubImageForm();'">삭제</span>
		   		<span class="btn_file_del" th:attr="onclick='addSubImageForm();'">추가</span>
		   	</td>
		</tr>
	</table>
</body>
</html>