<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<table>
		<tr class="subImage" th:fragment="subImage (index)">
		   	<th th:text="'서브 이미지 #' + ${index + 1}">서브 이미지 #count</th>
		   	<td>
		   		<input class="file-name" th:value="${subImage eq null ? '' : subImage.realFileName}" disabled="disabled"/>
	    		<label class="btnFile" th:for="'subImage' + ${index}">파일선택</label>
		   		<input type="file" th:id="'subImage' + ${index}" th:name="'subImageList[' + ${index} + '].file'"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
		   		<input type="hidden" th:name="'subImageList[' + ${index} + '].imageType'" value="SUB"/>
		   		<span class="btn_file_del" th:attr="onclick='removeSubImageForm();'">삭제</span>
		   		<span class="btn_file_del" th:attr="onclick='addSubImageForm();'">추가</span>
		   	</td>
		</tr>
	</table>
</body>
</html>