<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="admin/inc/head.inc :: head" th:remove="tag"></object>
	<script src="/resources/admin/js/writeForm.js" type="text/javascript"></script>
</head>
<body>
	<div id="wrap">
		
		<div th:replace="admin/inc/header.inc :: header" th:remove="tag"></div>

		<section id="container" class="wrap_1240 container clearfix">
		
			<div th:replace="admin/inc/gnb :: gnb" th:remove="tag"></div>

			<section class="content">

				<div class="title">
					<h1>포트폴리오 관리</h1>

					<div class="loc_area">
						<p>HOME > WORK > <span class="loc">포트폴리오 관리</span></p>
					</div>					
				</div><!-- //title -->

				<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

				<div class="write_area">

					<div class="write_head clearfix">
						<div class="left">
							
						</div>

						<div class="right">
							
						</div>
					</div>

					<table border="0" cellpadding="0" cellspacing="0" class="view01">
						<colgroup>
					   		<col width="20%" />					
					   		<col width="80%" />					
						</colgroup>

						<tbody>
						    <tr>
						    	<th>프로젝트명</th>
						    	<td><input type="text" class="w600"/> <input style="margin-left: 10px;" id="displayYN" name="displayYN" type="checkbox" value="N"/> <label for="displayYN">표출여부</label></td>
						    </tr>

						    <tr>
						    	<th>기간</th>
						    	<td><input type="text" class="w100" id="date_start"/> ~ <input type="text" class="w100" id="date_end"/></td>
						    </tr>

						    <tr>
						    	<th>썸네일 이미지</th>
						    	<td><input type="file"/> <span class="txt_guide">(권장사이즈 : 640 * 640)</span></td>
						    </tr>

						    <tr>
						    	<th>URL</th>
						    	<td><input type="text" class="w600"/></td>
						    </tr>

						    <tr>
						    	<th>대표 이미지</th>
						    	<td><input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * 1024)</span></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 제목</th>
						    	<td><input type="text" class="w600"/></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 설명</th>
						    	<td class="t_area"><textarea class="new_fm" name="" id="" cols="30" rows="6"></textarea></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 정보</th>
						    	<td class="t_area"><textarea class="new_fm" name="" id="" cols="30" rows="4"></textarea></td>
						    </tr>

						    <tr>
						    	<th>참여자 정보</th>
						    	<td class="t_area"><textarea class="new_fm" name="" id="" cols="30" rows="4"></textarea></td>
						    </tr>

						    <tr>
						    	<th>서브 이미지 #1</th>
						    	<td>
						    		<input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
						    		<span class="btn_file_del">삭제</span>
						    		<!-- <span class="btn_file_del">추가</span> -->
						    	</td>
						    </tr>

						    <tr>
						    	<th>서브 이미지 #2</th>
						    	<td>
						    		<input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
						    		<span class="btn_file_del">삭제</span>
						    		<!-- <span class="btn_file_del">추가</span> -->
						    	</td>
						    </tr>

						    <tr>
						    	<th>서브 이미지 #3</th>
						    	<td>
						    		<input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
						    		<span class="btn_file_del">삭제</span>
						    		<span class="btn_file_del">추가</span>
						    	</td>
						    </tr>			
						</tbody>
					</table><!-- //게시판 End -->

					<div class="board_button claerfix">
					    <div class="left_button blind2">
						    <a href="" class="btnArr">이전글</a>    
						    <a href="" class="btnArr">다음글</a>    
						</div>

					    <div class="right_button">   
					        <a href="/resources/admin/sub/sub_portfolio.html" class="btnArr">목록</a>
					        <a href="!#" onclick="return false;" class="btnArr">등록하기</a>
					    </div>
					</div><!-- //board_button -->		
					
				</div><!-- //write_area -->		
				
			</section><!-- //content -->

		</section><!-- //container End -->
	
	<div th:replace="admin/inc/footer.inc :: footer" th:remove="tag"></div>
	</div><!-- //wrap -->
</body>
</html>