<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="admin/inc/head.inc :: head" th:remove="tag"></object>
	<script src="/resources/admin/js/writeForm.js" type="text/javascript"></script>
	<style type="text/css">
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.btnFile {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.file-name {
  display: inline-block;
  padding: .5em .75em;  /* label의 패딩값과 일치 */
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}
	</style>
</head>
<body>
	<div id="wrap">
		
		<div th:replace="admin/inc/header.inc :: header" th:remove="tag"></div>

		<section id="container" class="wrap_1240 container clearfix">
		
			<div th:replace="admin/inc/gnb :: gnb" th:remove="tag"></div>

			<section class="content">

				<div class="title">
					<h1>포트폴리오 관리</h1>

					<div class="loc_area">
						<p>HOME > WORK > <span class="loc">포트폴리오 관리</span></p>
					</div>					
				</div><!-- //title -->

				<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

				<div class="write_area">
				<form id="form" action="/admin/manegement/portfolio/edit" method="post" enctype="multipart/form-data">
					
					<input type="hidden" name="portfolioNo" th:value="${portfolio.portfolioNo}"/>
					
					<div class="write_head clearfix">
						<div class="left">
							
						</div>

						<div class="right">
							
						</div>
					</div>

					<table border="0" cellpadding="0" cellspacing="0" class="view01">
						<colgroup>
					   		<col width="20%" />					
					   		<col width="80%" />					
						</colgroup>

						<tbody>
						    <tr>
						    	<th>프로젝트명</th>
						    	<td>
						    		<input type="text" name="portfolioName" class="w600" th:value="${portfolio.portfolioName}"/> 
						    		<input type="checkbox" id="displayYN" style="margin-left: 10px;" th:checked="${#strings.equals(portfolio.displayYN, 'Y')}"/> <label for="displayYN">표출여부</label>
						    		<input type="hidden" name="displayYN" th:value="${portfolio.displayYN}"/>
						    	</td>
						    </tr>

						    <tr>
						    	<th>기간</th>
						    	<td>
						    		<input type="text" name="startDate" class="w100" id="date_start" th:value="${#calendars.format(portfolio.startDate,'yyyy-MM-dd')}"/> ~ 
						    		<input type="text" name="endDate" class="w100" id="date_end" th:value="${#calendars.format(portfolio.endDate,'yyyy-MM-dd')}"/>
						    	</td>
						    </tr>

						    <tr>
						    	<th>썸네일 이미지</th>
						    	<td>
						    		<input class="file-name" th:value="${portfolio.thumbnail}" disabled="disabled"/>
						    		<label class="btnFile" for="thumbnailImage">파일선택</label>
						    		<input type="file" id="thumbnailImage" name="thumbnailImage"/> <span class="txt_guide">(권장사이즈 : 640 * 640)</span>
						    	</td>
						    </tr>

						    <tr>
						    	<th>URL</th>
						    	<td><input type="text" name="url" class="w600" th:value="${portfolio.url}"/></td>
						    </tr>

						    <tr>
						    	<th>대표 이미지</th>
						    	<td>
						    		<input class="file-name" th:value="${portfolio.mainImageName}" disabled="disabled"/>
						    		<label class="btnFile" for="mainImage">파일선택</label>
						    		<input type="file" id="mainImage" name="mainImage"/> <span class="txt_guide">(권장사이즈 : 1500 * 1024)</span>
						    	</td>
						    </tr>

						    <tr>
						    	<th>프로젝트 제목</th>
						    	<td><input type="text" name="title" class="w600" th:value="${portfolio.title}"/></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 설명</th>
						    	<td class="t_area"><textarea class="new_fm" name="description" id="" cols="30" rows="6" th:text="${portfolio.description}"></textarea></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 정보</th>
						    	<td class="t_area"><textarea class="new_fm" name="info" id="" cols="30" rows="4" th:text="${portfolio.info}"></textarea></td>
						    </tr>

						    <tr>
						    	<th>참여자 정보</th>
						    	<td class="t_area"><textarea class="new_fm" name="participant" id="" cols="30" rows="4" th:text="${portfolio.participant}"></textarea></td>
						    </tr>

						    <tr th:replace="admin/sub/portfolio_sub_image :: subImage (1)"></tr>
						    		
						</tbody>
					</table><!-- //게시판 End -->

					<div class="board_button claerfix">
					    <div class="left_button blind2">
						    <a href="" class="btnArr">이전글</a>    
						    <a href="" class="btnArr">다음글</a>    
						</div>

					    <div class="right_button">   
					        <a href="/admin/manegement/portfolio" class="btnArr">목록</a>
					        <a href="!#" onclick="if(confirm('포트폴리오를 수정하시겠습니까?')){$('#form').submit(); return false;}" class="btnArr">수정하기</a>
					    </div>
					</div><!-- //board_button -->		
				</form>
				</div><!-- //write_area -->		
				
			</section><!-- //content -->

		</section><!-- //container End -->
	
	<div th:replace="admin/inc/footer.inc :: footer" th:remove="tag"></div>
	</div><!-- //wrap -->
</body>
</html>