<? include('../inc/head.inc.html');?>

<? include('../inc/header.inc.html');?>	

	<!-- <section id="container"> -->

			<section class="content">

				<div class="title">
					<h1>포트폴리오 관리</h1>

					<div class="loc_area">
						<p>HOME > WORK > <span class="loc">포트폴리오 관리</span></p>
					</div>					
				</div><!-- //title -->

				<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

				<div class="write_area">

					<div class="write_head clearfix">
						<div class="left">
							
						</div>

						<div class="right">
							
						</div>
					</div>

					<table border=0 cellpadding=0 cellspacing=0 class="view01">
						<colgroup>
					   		<col width="20%" />					
					   		<col width="80%" />					
						</colgroup>

						<tbody>
						    <tr>
						    	<th>프로젝트명</th>
						    	<td>한국관광공사, 관광투자 웹사이트 <input style="margin-left: 10px;" type="checkbox"> <label for="">표출여부</label></td>
						    </tr>

						    <tr>
						    	<th>기간</th>
						    	<td><input type="text" class="w100" id="date_start" value="2015-02-16"/> ~ <input type="text" class="w100" id="date_end" value="2015-04-16"/></td>
						    </tr>

						    <tr>
						    	<th>썸네일 이미지</th>
						    	<td><input type="file"/> <span class="txt_guide">(권장사이즈 : 640 * 640)</span></td>
						    </tr>

						    <tr>
						    	<th>URL</th>
						    	<td>http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main</td>
						    </tr>

						    <tr>
						    	<th>대표 이미지</th>
						    	<td><input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * 1024)</span></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 제목</th>
						    	<td>한국관광공사, 관광투자 웹사이트</td>
						    </tr>

						    <tr>
						    	<th>프로젝트 설명</th>
						    	<td class="t_area"><textarea class="new_fm" name="" id="" cols="30" rows="6">태초의 순수하고 깨끗한 자연의 모습을 패셔너블한 감각으로 재해석한 화장품 브랜드인 네이처리퍼블릭의 모바일 웹사이트를 새롭게 개편하였습니다. 최근 온라인 고객의 모바일 접속 비중이 급격한 성장을 보이고 있는 모바일 중심 트렌드에 발맞춰 보다 고객 친화적인 UI 구성과 최신의 디자인 트렌드를 반영하는 것에 중점을 두었습니다. 세련되고 미려한 구성은 최소한의 형태와 요소를 활용하여 구조를 형상화는 것에 중점을 두었다.</textarea></td>
						    </tr>

						    <tr>
						    	<th>프로젝트 정보</th>
						    	<td class="t_area"><textarea class="new_fm" name="" id="" cols="30" rows="4">(주)한국관광공사 
2015년 5월 
web, mobile, responsible</textarea></td>
						    </tr>

						    <tr>
						    	<th>참여자 정보</th>
						    	<td class="t_area"><textarea class="new_fm" name="" id="" cols="30" rows="4">Project Manager : 정명훈 
Design : 김평진, 배성준 
HTML & CSS & Script : 배성준 
Development : 김종호</textarea></td>
						    </tr>

						    <tr>
						    	<th>서브 이미지 #1</th>
						    	<td>
						    		<input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
						    		<span class="btn_file_del">삭제</span>
						    		<!-- <span class="btn_file_del">추가</span> -->
						    	</td>
						    </tr>

						    <tr>
						    	<th>서브 이미지 #2</th>
						    	<td>
						    		<input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
						    		<span class="btn_file_del">삭제</span>
						    		<!-- <span class="btn_file_del">추가</span> -->
						    	</td>
						    </tr>

						    <tr>
						    	<th>서브 이미지 #3</th>
						    	<td>
						    		<input type="file"/> <span class="txt_guide">(권장사이즈 : 1500 * limitlessness)</span>
						    		<span class="btn_file_del">삭제</span>
						    		<span class="btn_file_del">추가</span>
						    	</td>
						    </tr>			
						</tbody>
					</table><!-- //게시판 End -->

					<div class="board_button claerfix">
					    <div class="left_button blind2">
						    <a href="" class="btnArr">이전글</a>    
						    <a href="" class="btnArr">다음글</a>    
						</div>

					    <div class="right_button">   
					        <a href="/resources/admin/sub/sub_portfolio.html" class="btnArr">목록</a>
					        <a href="!#" onclick="return false;" class="btnArr">수정하기</a>
					    </div>
					</div><!-- //board_button -->		
					
				</div><!-- //write_area -->		
				
			</section><!-- //content -->

		</div><!-- //wrap -->

	</section><!-- //container End -->

<? include('../inc/footer.inc.html');?>