<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="admin/inc/head.inc :: head" th:remove="tag"></object>
	<script src="/resources/admin/js/admin.js" type="text/javascript"></script>
</head>
<body>
	<div id="wrap">
	
		<div th:replace="admin/inc/header.inc :: header" th:remove="tag"></div>

		<section id="container" class="wrap_1240 container clearfix">
				
			<div th:replace="admin/inc/gnb :: gnb" th:remove="tag"></div>

			<section class="content">

				<div class="title">
					<h1>포트폴리오 관리</h1>

					<div class="loc_area">
						<p>HOME > WORK > <span class="loc">포트폴리오 관리</span></p>
					</div>					
				</div><!-- //title -->

				<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

				<div class="search_box">
					<form action="">					
						<fieldset>
							<legend>포트폴리오 목록 검색</legend>
							<table>
								<colgroup>
									<col width="10%"/>
									<col width="30%"/>
									<col width="10%"/>
									<col width="30%"/>
									<col width="20%"/>
								</colgroup>
								<tbody>
									<tr>
										<th><label for="">프로젝트명</label></th>

										<td>
											<input type="text" class="w140"/>
										</td>

										<th><label for="">등록일</label></th>

										<td>
											<input type="text" class="w100" id="date_start"/> ~ <input type="text" class="w100" id="date_end"/>
										</td>

										<td rowspan="2" style="text-align: center !important; padding: 0 !important"><span class="btn_research02">검색</span></td>				
									</tr>									

									<tr>
										<th><label for="">회사명</label></th>

										<td>
											<input type="text" class="w140"/>
										</td>

										<th><label for="">예산</label></th>

										<td>
											<input type="text" class="w100" placeholder="500만원"/> ~ <input type="text" class="w100" placeholder="1000만원"/>
										</td>
									</tr>			
								</tbody>			
							</table>
						</fieldset>
					</form>						
				</div><!-- //search_box -->

				<div class="list_area">
				</div><!-- //list_area -->	
				
			</section><!-- //content -->

		</section><!-- //container End -->

	<div th:replace="admin/inc/footer.inc :: footer" th:remove="tag"></div>
	</div><!-- //wrap -->
</body>
</html>