<? include('../inc/head.inc.html');?>

<? include('../inc/header.inc.html');?>	

	<!-- <section id="container"> -->

			<section class="content">

				<div class="title">
					<h1>비밀번호 수정</h1>

					<div class="loc_area">
						<p>HOME > WORK > <span class="loc">비밀번호 수정</span></p>
					</div>					
				</div><!-- //title -->

				<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

				<div class="write_area">

					<table border=0 cellpadding=0 cellspacing=0 class="view01">
						<colgroup>
					   		<col width="20%" />					
					   		<col width="80%" />					
						</colgroup>

						<tbody>
						    <tr>
						    	<th>아이디</th>
						    	<td><input type="text" class="w140" value="master_casker"/></td>
						    </tr>

						    <tr>
						    	<th>비밀번호 수정</th>
						    	<td><input type="password" class="w140"/></td>
						    </tr>

						    <tr>
						    	<th>비밀번호 수정 확인</th>
						    	<td><input type="password" class="w140"/></td>
						    </tr>

						    <tr>
						    	<th></th>
						    	<td><span class="txt_guide">비밀번호를 잊으셨나요?</span> <span class="btn_file_del">문자로 비밀번호 받기</span></td>
						    </tr>
						</tbody>
					</table><!-- //게시판 End -->

					<div class="board_button claerfix">
					    <div class="left_button blind2">
						    <a href="" class="btnArr">이전글</a>    
						    <a href="" class="btnArr">다음글</a>    
						</div>

					    <div class="right_button">
					        <a href="!#" onclick="return false;" class="btnArr">수정하기</a>
					    </div>
					</div><!-- //board_button -->		
					
				</div><!-- //write_area -->	
				
			</section><!-- //content -->

		</div><!-- //wrap -->

	</section><!-- //container End -->

<? include('../inc/footer.inc.html');?>