<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/commonLayout">
<head>
	<object th:include="inc/head_inc :: head"></object>
	<script src="resources/js/main.js" type="text/javascript"></script>
</head>
<body>
	<header layout:fragment="header">
		<div th:replace="inc/header_inc :: header"></div>
	</header>
	
	<section id="container" layout:fragment="content">

		<!-- main visual -->
		<section class="wrap_main_visual">
			<ul class="main_visual">
				<li class="slide_img01"><img src="resources/img/main/main_slide01.png" alt="메인 슬라이드 이미지 01"/></li>
				<li class="slide_img01"><img src="resources/img/main/main_slide02.png" alt="메인 슬라이드 이미지 02"/></li>
				<li class="slide_img01"><img src="resources/img/main/main_slide03.png" alt="메인 슬라이드 이미지 03"/></li>
			</ul>

			<a href="#work" onclick="" class="skip_intro only_pc">
				<img src="resources/img/btn/scroll_down.png" alt="SCROLL DOWN TO DISCOVER MORE"/>
			</a>		
		</section><!-- //wrap_main_visual -->

		<!-- portfolio list -->
		<section id="work" class="part">
			<div class="bg_ptn"></div>
			<div class="wrap_part">

				<h1><em>w o r k</em></h1>
				<h2><strong>항상 새롭고 차별화된 아이디어와 인사이트에 도전합니다.<br/>사용자 경험을 통해 브랜드를 이야기하고 경쟁력 있는 웹사이트를 구축하기 위해 끊임없이 고민합니다.</strong><br/>당신의 비지니스에 필요한 아름답고 유용한 기술을 제공합니다.</h2>

				<div class="wrap_masonry">
					<div class="" id="masonrybox">

						<div class="item" th:each="portfolio : ${portfolioList}">
							<div class="cont_work">	
								<div class="bg_text">
									<p class="text">
										<span class="work_name" th:text="${portfolio.portfolioName}">??</span>
										<a th:href="${portfolio.url}" class="work_more">자세히 보기</a>
										<span class="work_date" th:text="${portfolio.workDate}">2015</span>
									</p>								
								</div>
								<p class="img"><img class="ratio" src="resources/img/sample/sample_work01.jpg" alt="포트폴리오 썸네일 이미지입니다"/></p>							
							</div>
						</div>

					</div><!-- //masonrybox -->				
				</div>

				<a onclick="return false;" href="!#" class="more_work">더 많은 포트폴리오 불러오기</a>
				
			</div><!-- //wrap_part -->
		</section><!-- //work -->

		<section id="about" class="part">
			<div class="wrap_part">

				 <h1><em>a b o u t</em></h1>
				<h2></h2>

				<div class="wrap_920 clearfix">
					<div class="my_profile left">
						<div class="area_pic">
							<img src="resources/img/main/profile_pic01.png" alt="프로필 사진입니다"/>
						</div>

						<div class="area_ptxt">
							<div class="region01">
								<p class="name_kor">배성준</p>								
								<p class="name_eng">bae sung june / web design, web publishing</p>							
							</div>

							<div class="region02">
								<p>동인천 고등학교 졸업</p>					
								<p>인천대학교 컴퓨터 공학과 졸업</p>					
								<p>J&amp;K Media Works Co., Ltd 디자인 1팀, 대리</p>				
							</div>

							<div class="region03">
								<p>
									<a target="_blank" href="https://instagram.com/feat.casker">Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
									<a target="_blank" href="https://www.pinterest.com/designbycasker">Finterest</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
									<a target="_blank" href="https://www.facebook.com/boyfriendfit">Facebook</a>
								</p>					
							</div>
						</div>
					</div><!-- //my_profile -->

					<div class="recent_project right">
						<p class="tit_region">Recent Project</p>

						<div class="wrap_table_project">

				 			<table cellspacing="0" cellpadding="0" class="table_project">

						    	<colgroup>
						    		<col width="10%"/>
						    		<col width="50%"/>
						    		<col width="20%"/>
						    		<col width="20%"/>
						    	</colgroup>

						    	<thead>
								    <tr>
								        <th>No</th>
								        <th>프로젝트명</th>
								        <th>참여부문</th>
								        <th>날짜</th>
								    </tr>		    		
						    	</thead>

						    	<tbody>
								    <tr>
								    	<td class="num">190</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<span class="ico_cod" title="퍼블리싱"></span>
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">189</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<!-- <span class="ico_cod" title="퍼블리싱"></span> -->
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">188</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<!-- <span class="ico_cod" title="퍼블리싱"></span> -->
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">187</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<span class="ico_cod" title="퍼블리싱"></span>
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">186</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<!-- <span class="ico_cod" title="퍼블리싱"></span> -->
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">185</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<!-- <span class="ico_des" title="디자인"></span> -->
								    		<span class="ico_cod" title="퍼블리싱"></span>
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">184</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<span class="ico_cod" title="퍼블리싱"></span>
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">183</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<!-- <span class="ico_des" title="디자인"></span> -->
								    		<span class="ico_cod" title="퍼블리싱"></span>
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">182</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<span class="ico_cod" title="퍼블리싱"></span>
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>

								    <tr>
								    	<td class="num">181</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<!-- <span class="ico_cod" title="퍼블리싱"></span> -->
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>	

								    <tr>
								    	<td class="num">180</td>
								    	<td class="subject"><a target="_blank" href="http://korean.visitkorea.or.kr/kor/invest/main.kto?func_name=main">한국관광공사, 관광투자 홈페이지</a></td>
								    	<td class="major">
								    		<span class="ico_des" title="디자인"></span>
								    		<!-- <span class="ico_cod" title="퍼블리싱"></span> -->
								    	</td>
								    	<td class="date">2015. 04</td>
								    </tr>		    		
						    	</tbody>

						    	<tfoot></tfoot>
							</table>

							<!-- paging -->
							<div class="board_num_list">
								<a class="prev_all" href="PREV ALL"></a>
								<a class="prev" href="">PREV</a>
								<a class="num" href="">1</a>
								<a class="num" href="">2</a>
								<a class="num on" href="">3</a>
								<a class="num" href="">4</a>
								<a class="num" href="">5</a>
								<a class="next" href="">NEST</a>
								<a class="next_all" href="">NEST ALL</a>
							</div><!-- //board_num_list -->							
						</div><!-- //wrap_table -->						
					</div><!-- //recent_project -->
				</div>
			</div><!-- //wrap_part -->
		</section><!-- //about -->

		<section id="contact" class="part">
			<div class="wrap_part">

				<h1><em>c o n t a c t</em></h1>
				<h2><strong>메일 양식을 사용하지 않고 직접 보내고 싶으신가요?</strong> <a href="mailto:designbycasker@gmail.com" class="p_mail">designbycasker@gmail.com</a></h2>
				<!-- Not into filling forms out? -->

				<form id="contact_form wrap_920" method="post" action="/inc/mail.php">
					<div class="cf">
						<div class="left cf field">
							<label for="name">이름</label>
							<input name="name" id="name" placeholder="홍길동" required=""/>
						</div>
						<div class="right cf field">
							<label for="email">이메일</label>
							<input type="email" name="email" id="email" placeholder="your@email.com" required=""/>
						</div>
						<div class="left cf field">
							<label for="tel">연락처</label>
							<input name="tel" id="tel" placeholder="010 1234 5678"/>
						</div>
						<div class="right cf field">
							<label for="company">회사명</label>
							<input name="company" id="company" placeholder="회사명을 입력해주세요"/>
						</div>
						<div class="left cf field">
							<label for="project">프로젝트</label>
							<div class="select">
								<select name="project" id="project">
									<option value="" selected="">선택하세요</option>
									<option value="Web Design">웹 디자인</option>
									<option value="App Design">어플리케이션 디자인</option>
									<option value="Brand Design">브랜딩 &amp; 아이텐티티</option>
									<option value="Web Publishing">웹 퍼블리싱</option>
								</select>
							</div>
						</div>
						<div class="right cf field">
							<label for="budget">프로젝트 예산</label>
							<div class="select">
								<select name="budget" id="budget">
									<option value="" selected="">선택하세요</option>
									<option value="">미정</option>
								</select>
							</div>
						</div>
					</div>
					<div class="textarea">
						<textarea name="message" id="message" placeholder="귀사의 프로젝트를 설명해주세요, 홈페이지가 있다면 기재해주세요."></textarea>
					</div>
					<!-- <div id="user-message"></div> -->
					
					<p class="item agree">
						<span class="ipcheck">
							<input type="checkbox" id="" value="0" data-setted="true"/>
							<label for="">
								<a href="#privacypolicy" class="btn_privacypolicy" onclick="return false;"></a> <a class="go_policy" target="_blank" href="../sub/policy.html">개인정보보호정책</a> 에 동의합니다.
							</label>
						</span>
					</p>

					<a onclick="return false;" href="!#" class="more_work">이메일 보내기</a>
				</form>
			</div><!-- //wrap_part -->
		</section><!-- //contact -->

	</section><!-- //container End -->
	
	<footer layout:fragment="footer" th:replace="inc/footer_inc :: footer">
	</footer>
</body>
</html>