<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="main/inc/head_inc :: head" th:remove="tag"></object>
</head>
<body>
	<div id="wrap">
		<header id="sub_header" class="clearfix">
			<p class="title_project left"><span class="logo_project"></span>개인정보보호정책</p>
			<!-- <p class="btn_back right"><a href="!#" class="hide_text" onclick="return false;">뒤로가기</a></p>-->	
		</header><!--header_end-->

		<div id="sub_container" class="">

			<div class="wrap_1024">

				<div class="pol_chapter">
					<p class="pol_h1">개인정보 수집이용에 대한 동의</p>
					<p class="pol_des">회원님의 소중한 개인정보는 다음과 같은 정책에 따라 수집 및 이용됩니다. 이 사이트에서는 해당 목적에 연관되는 개인정보만을 수집하며, 수집된 정보를 투명하고 안전하게 보호 관리할 것을 약속합니다. 이에 개인정보 수집및 이용에 대한 동의를 구합니다.</p>					
				</div>

				<div class="pol_chapter">
					<p class="pol_h1">개인정보의 수집·이용 목적</p>
					<p class="pol_des">· 회원님의 프로젝트에 대한 견적, 기간, 개발방법 등의 문의에 대한 정보가 보다 정확한 답변을 위해 수집됩니다.</p>				
				</div>

				<div class="pol_chapter">
					<p class="pol_h1">수집항목</p>
					<p class="pol_des">· 필수항목: 이름, 회사명, 웹사이트, 연락처, 이메일, 의뢰내용, 예산</p>				
					<p class="pol_des">· 선택항목: 홈페이지</p>				
				</div>

				<div class="pol_chapter">
					<p class="pol_h1">보유이용기간</p>
					<p class="pol_des">원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</p>				
					<p class="pol_des">· 보존 이유 : 회원님의 동의를 통한 정보 유지</p>				
					<p class="pol_des">· 보존 기간 : 회원정보 삭제 요청시까지</p>				
				</div>

				<div class="pol_chapter">
					<p class="pol_h1">개인정보의 제3자 제공</p>
					<p class="pol_des">회사는 이용자의 동의가 있거나 관련 법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집목적 및 이용목적』에서 고지한 범위를 넘어 이용자의 개인정보를 이용하거나 제3자에게 제공하지 않습니다.</p>				
				</div>

				<div class="pol_chapter">
					<p class="pol_h1">개인정보관리책임자</p>					
					<p class="pol_des">사이트 운영자 본인이 이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하고 있습니다. 개인정보와 관련한 문의사항이 있으시면 아래의 연락처로 연락 주시기 바랍니다. 이용자의 문의사항에 신속하고 성실하게 답변해드리겠습니다.</p>
					<br/>
					<p class="pol_h2">이름  : 배성준</p>
					<p class="pol_h2"><a href="tel:010-3867-6498">연락처 : 010 3867 6498</a></p>
					<p class="pol_h2"><a href="mailto:designbycasker@gmail.com">이메일 : designbycasker@gmail.com</a></p>
				</div>

				<div class="pol_chapter last">
					<p class="pol_h1">링크 사이트</p>
					<p class="pol_des">해당 사이트는 이용자께 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임질 수 없으며 보증할 수 없습니다. 링크를 클릭하여 타 사이트의 페이지로 옮겨갈 경우 해당 사이트의 개인정보취급방침은 회사와 무관하므로 새로 방문한 사이트의 정책을 검토해 보시기 바랍니다.</p>				
				</div>

				<p class="project_end"><a class="go_top" href="">Back up</a></p>

			</div><!-- //container End -->

			<footer id="sub_footer">
				<p class="sub_copy">Copyright Casker All Rights Reserved.</p>			
			</footer><!--footer_end-->
		</div><!--wrap_end-->
	</div>
</body>
</html>