<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="main/inc/head_inc :: head" th:remove="tag"></object>
</head>
<body>
	<div id="wrap">
		<header id="sub_header" class="clearfix">
			<p class="title_project left"><span class="logo_project"></span>캐스커 프로젝트</p>
			<p class="btn_back right"><a href="!#" class="hide_text" onclick="history.back(); return false;">뒤로가기</a></p>			
		</header><!--header_end-->

		<div id="sub_container" class="">

			<div class="wrap_1024">
				<div class="top_project">
					<img src="/resources/main/img/sample/top_sample01.jpg" alt=""/>
				</div><!-- //top_project -->

				<div class="middle_project">

					<div class="fl_01 clearfix">

						<div class="area_left left">
							<p class="title_project">한국관광공사, 관광투자 웹사이트</p>
							<p class="explain_project">
								태초의 순수하고 깨끗한 자연의 모습을 패셔너블한 감각으로 재해석한 화장품 브랜드인 네이처리퍼블릭의 모바일 웹사이트를 새롭게 개편하였습니다. 최근 온라인 고객의 모바일 접속 비중이 급격한 성장을 보이고 있는 모바일 중심 트렌드에 발맞춰 보다 고객 친화적인 UI 구성과 최신의 디자인 트렌드를 반영하는 것에 중점을 두었습니다. 세련되고 미려한 구성은 최소한의 형태와 요소를 활용하여 구조를 형상화는 것에 중점을 두었다.
							</p>
						</div>

						<div class="area_right right">
							<!-- //웹사이트 URL 없을시 a태그에 class="no_url" 추가 -->
							<a th:if="${!#strings.isEmpty(portfolio.url)}" class="go_website" th:href="@{${portfolio.url}}" target="_blank">웹사이트 바로가기</a>
							<a th:if="${#strings.isEmpty(portfolio.url)}" class="go_website no_url">웹사이트 바로가기</a>
						</div>
					</div><!-- //fl_01 -->

					<div class="fl_02">
						<p class="info_text01">
							(주)한국관광공사 <br/>
							2015년 5월 <br/>
							web, mobile, responsible
						</p>

						<span class="line423"></span>

						<p class="info_text02">
							Project Manager : 정명훈 <br/>
							Design : 김평진, 배성준 <br/>
							HTML &amp; CSS &amp; Script : 배성준 <br/>
							Development : 김종호
						</p>						
					</div><!-- //fl_02 -->					
					
				</div><!-- //middle_project -->

				<div class="bottom_project">
					<p class="img_frame"><img src="/resources/main/img/sample/sample_sub_con01.jpg" alt=""/></p>
					<p class="img_frame"><img src="/resources/main/img/sample/sample_sub_con02.png" alt=""/></p>
					<p class="img_frame"><img src="/resources/main/img/sample/sample_sub_con03.jpg" alt=""/></p>					
				</div><!-- //bottom_project -->
			</div>

			<p class="project_end"><a class="go_top" href="">Back up</a></p>

		</div><!-- //container End -->

		<footer id="sub_footer">
			<p class="sub_copy">Copyright Casker All Rights Reserved.</p>			
		</footer><!--footer_end-->
	</div><!--wrap_end-->
</body>
</html>