<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="main/inc/head_inc :: head" th:remove="tag"></object>
</head>
<body>
	<div id="wrap">
		<header id="sub_header" class="clearfix">
			<p class="title_project left"><span class="logo_project"></span>캐스커 프로젝트</p>
			<p class="btn_back right"><a href="!#" class="hide_text" onclick="history.back(); return false;">뒤로가기</a></p>			
		</header><!--header_end-->

		<div id="sub_container" class="">

			<div class="wrap_1024">
				<div class="top_project">
					<img th:src="@{'/file/portfolio/' + ${portfolio.portfolioNo} + '/main'}" alt=""/>
				</div><!-- //top_project -->

				<div class="middle_project">

					<div class="fl_01 clearfix">

						<div class="area_left left">
							<p class="title_project" th:text="${portfolio.portfolioName}">프로젝트명</p>
							<p class="explain_project" th:utext="${portfolio.description}">
								프로젝트 설명
							</p>
						</div>

						<div class="area_right right">
							<!-- //웹사이트 URL 없을시 a태그에 class="no_url" 추가 -->
							<a th:if="${!#strings.isEmpty(portfolio.url)}" class="go_website" th:href="${portfolio.url}" target="_blank">웹사이트 바로가기</a>
							<a th:if="${#strings.isEmpty(portfolio.url)}" class="go_website no_url">웹사이트 바로가기</a>
						</div>
					</div><!-- //fl_01 -->

					<div class="fl_02">
						<p class="info_text01" th:utext="${portfolio.info}">
							프로젝트 정보
						</p>

						<span class="line423"></span>

						<p class="info_text02" th:utext="${portfolio.participant}">
							참여자 정보
						</p>						
					</div><!-- //fl_02 -->					
					
				</div><!-- //middle_project -->

				<div class="bottom_project">
					<p class="img_frame"><img th:src="@{'/file/portfolio/' + ${portfolio.portfolioNo} + '/sub1'}" alt=""/></p>
					<p class="img_frame"><img th:src="@{'/file/portfolio/' + ${portfolio.portfolioNo} + '/sub2'}" alt=""/></p>
					<p class="img_frame"><img th:src="@{'/file/portfolio/' + ${portfolio.portfolioNo} + '/sub3'}" alt=""/></p>					
				</div><!-- //bottom_project -->
			</div>

			<p class="project_end"><a class="go_top" href="">Back up</a></p>

		</div><!-- //container End -->

		<footer id="sub_footer">
			<p class="sub_copy">Copyright Casker All Rights Reserved.</p>			
		</footer><!--footer_end-->
	</div><!--wrap_end-->
</body>
</html>