<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8"/>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/resources/admin/favicon.ico" type="image/x-icon"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

	<link rel="shortcut icon" type="image/x-icon" href="" />
	<link href="/resources/admin/css/common.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/admin/css/main.css" rel="stylesheet" type="text/css"/>
	<link href="/resources/admin/css/sub.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
	
	<script src="/resources/admin/js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="/resources/admin/js/jquery.innerfade.js" type="text/javascript"></script>
	<script src="/resources/admin/js/jquery.slides.min.js" type="text/javascript"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="/resources/admin/js/script.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="/resources/admin/js/html5shiv.js"></script>
	<![endif]-->
	<title>관리자 페이지</title>
</head>

<body>
	<div id="wrap" class="wrap_bg">
		<header id="header">			
		</header><!-- //header -->

		<section id="container">

			<div class="login_section">

				<div class="main_logo_section">
					<img src="/resources/admin/img/main/admin_logo.png" alt="로고" />					
				</div><!-- //main_logo_section -->

				<form id="login" action="/admin/login" method="post">
					<fieldset class="blind">로그인</fieldset>

					<div class="input_row">
						<label for="id" id="label_id_area" class="lbl"></label>
						<input type="text" id="id" name="id" placeholder="아이디"/>			
					</div>

					<div class="input_row">
						<label for="pw" id="label_id_area" class="lbl"></label>
						<input type="password" id="pw" name="password" placeholder="비밀번호"/>			
					</div>

					<span class="btn_login">
						<!-- ../sub/sub_portfolio.html 로 이동-->
						<input type="submit" value="관리자 로그인" class="int_join"/>
					</span>
			
				</form>

				<div class="find_info_section">
					<!--
					<a href="">아이디 찾기</a>
					<span class="bar">|</span>
					<a href="">비밀번호 찾기</a>
					<span class="bar">|</span>
					<a href="">회원 가입</a>
					-->
					<p>Copyright Casker All Rights Reserved.</p>

				</div>
				
			</div><!-- //login_section -->	

		</section><!-- //container -->

	</div><!-- //wrap -->

</body>
</html>