<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<footer id="footer" class="part" th:fragment="footer">

		<div class="wrap_part" style="padding-bottom: 0 !important;">
			<div class="im_footer">
				<p class="name_footer">BAE SUNG JUNE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WEB / UX DESIGNER</p>
			</div>

			<div class="content_footer clearfix">
				<div class="thum_footer left clearfix">
					<div class="pic_footer left">
						<img src="/resources/main/img/main/profile_footer.png" alt="프로필 사진"/>
					</div>
					<div class="profile_footer left">
						<p class="region1">창의적인 아이디어로<br/>아름답고 직관적인 기술을 지향합니다.</p>
							<p class="region2">Design &amp; HTML &amp; CSS &amp; Script : 배성준<br/>Jsp Development : 최강훈</p>
							<p class="region3">더 새로운 경험을 기다립니다.</p>
					</div>					
				</div>

				<ul class="major_footer right clearfix">
					<li>
						<div class="region">
							<img src="/resources/main/img/sample/sample_ico_footer.png" alt=""/>
							<p>반응형웹</p>
						</div>
					</li>

					<li>
						<div class="region">
							<img src="/resources/main/img/sample/sample_ico_footer.png" alt=""/>
							<p>웹표준화</p>
						</div>
					</li>

					<li>
						<div class="region">
							<img src="/resources/main/img/sample/sample_ico_footer.png" alt=""/>
							<p>UX/UI Design</p>
						</div>
					</li>
				</ul>					
			</div><!-- //content_footer -->

			<div class="logo_area_footer"></div>
		</div><!-- //wrap_part -->
		
	</footer><!--footer_end-->
</body>
</html>