<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casker.portfolio.mapper.PortfolioMapper">
	
	<select id="selectPortfolioListCount" resultType="int" parameterType="baseSearch">
		/* ProjectMapper.selectPortfolioListCount */
		SELECT 
			COUNT(1)
		FROM  portfolio
		<where> 1 = 1
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(displayYN)">
			AND	display_yn = #{displayYN}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(portfolioName)">
			AND portfolio_name = #{portfolioName}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(startDate)">
			AND start_date &gt; CAST(#{startDate} AS DATETIME)
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(endDate)">
			AND end_date &lt; CAST(#{endDate} AS DATETIME)
			</if>
		</where>
	</select>
	
	<select id="selectPortfolioList" resultType="portfolio" parameterType="baseSearch">
		/* PortfolioMapper.selectPortfolioList */
		SELECT 
			  portfolio_no
			, portfolio_name
			, url
			, view_name
			, work_date
			, thumbnail
			, display_yn
			, sort
		FROM  portfolio
		<where> 1 = 1
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(displayYN)">
			AND	display_yn = #{displayYN}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(portfolioName)">
			AND portfolio_name = #{portfolioName}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(startDate)">
			AND start_date &gt; CAST(#{startDate} AS DATETIME)
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(endDate)">
			AND end_date &lt; CAST(#{endDate} AS DATETIME)
			</if>
		</where>
		ORDER BY sort DESC
		<if test="all == false">
		LIMIT #{skipRows}, #{pageSize}
		</if>
	</select>
	
	<select id="selectPortfolio" resultType="portfolio" parameterType="long">
		/* PortfolioMapper.selectPortfolio */
		SELECT 
			  portfolio_no
			, portfolio_name
			, DATE_FORMAT(start_date, '%x-%m-%d')	AS startDate
			, DATE_FORMAT(end_date, '%x-%m-%d')		AS endDate
			, thumbnail
			, url
			, main_image		AS mainImageName
			, title
			, description
			, info
			, participant
			, sub_image1		AS subImageName1
			, sub_image2		AS subImageName2
			, sub_image3		AS subImageName3
			, view_name
			, work_date
			, display_yn
			, sort
		FROM  portfolio
		WHERE
			portfolio_no = #{portfolioNo}
	</select>
	
	<insert id="insertPortfoilo" parameterType="portfolio">
		/* PortfolioMapper.insertPortfoilo */
		INSERT portfolio
		SET 
			  portfolio_no = #{portfolioNo}
			, portfolio_name = #{portfolioName}
			, start_date = CAST(#{startDate} AS DATETIME)
			, end_date = CAST(#{endDate} AS DATETIME)
			, thumbnail = #{thumbnail}
			, url = #{url}
			, main_image = #{mainImageName}
			, title = #{title}
			, description = #{description}
			, info = #{info}
			, participant = #{participant}
			, sub_image1 = #{subImageName1}
			, sub_image2 = #{subImageName2}
			, sub_image3 = #{subImageName3}
			, view_name = #{viewName}
			, work_date = NOW()
			, display_yn = #{displayYN}
			, sort = #{sort}
	</insert>
	
	<update id="updatePortfolio" parameterType="portfolio">
		/* PortfolioMapper.updatePortfolio */
		UPDATE portfolio
		SET
			  portfolio_name = #{portfolioName}
			, url = #{url}
			, display_yn = #{displayYN}
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(startDate)">
			, start_date = CAST(#{startDate} AS DATETIME)
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(endDate)">
			, end_date = CAST(#{endDate} AS DATETIME)
		</if>
		<if test="not thumbnailImage.isEmpty()">
			, thumbnail = #{thumbnail}
		</if>
		<if test="not mainImage.isEmpty()">
			, main_image = #{mainImageName}
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(title)">
			, title = #{title}
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(description)">
			, description = #{description}
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(info)">
			, info = #{info}
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(participant)">
			, participant = #{participant}
		</if>
		<if test="not subImage1.isEmpty()">
			, sub_image1 = #{subImageName1}
		</if>
		<if test="not subImage2.isEmpty()">
			, sub_image2 = #{subImageName2}
		</if>
		<if test="not subImage3.isEmpty()">
			, sub_image3 = #{subImageName3}
		</if>
		WHERE
			portfolio_no = #{portfolioNo}
	</update>
	
	<delete id="deletePortfolio" parameterType="portfolio">
		/* PortfolioMapper.deletePortfolio */
		DELETE FROM portfolio
		WHERE portfolio_no = #{portfolioNo}
	</delete>
	
	<update id="updatePortfolioSort" parameterType="map">
		/* PortfolioMapper.updatePortfolioSort */
		UPDATE portfolio
		SET
			sort = #{newSort}
		WHERE
			sort = #{oldSort}
	</update>
</mapper>