<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casker.portfolio.mapper.PortfolioMapper">
	
	<select id="selectPortfolioListCount" resultType="int">
		/* ProjectMapper.selectPortfolioListCount */
		SELECT 
			COUNT(1)
		FROM  portfolio
	</select>
	
	<select id="selectPortfolioList" resultType="portfolio" parameterType="baseSearch">
		/* PortfolioMapper.selectPortfolioList */
		SELECT 
			  portfolio_no
			, portfolio_name
			, url
			, view_name
			, work_date
			, thumbnail
			, display_yn
		FROM  portfolio
		<if test="domain != null">
		<where>
			<if test="domain.displayYN != null">
				display_yn = #{domain.displayYN}
			</if>
		</where>
		</if>
		ORDER BY work_date DESC
		<if test="all == false">
		LIMIT #{skipRows}, #{pageSize}
		</if>
	</select>
	
	<select id="selectPortfolio" resultType="portfolio" parameterType="int">
		/* PortfolioMapper.selectPortfolio */
		SELECT 
			  portfolio_no
			, portfolio_name
			, url
			, view_name
			, work_date
			, thumbnail
		FROM  portfolio
		WHERE
			portfolio_no = #{portfolioNo}
	</select>
	
	<insert id="insertPortfoilo" parameterType="portfolio">
		/* PortfolioMapper.insertPortfoilo */
		INSERT portfolio
		SET 
			  portfolio_no = #{portfolioNo}
			, portfolio_name = #{portfolioName}
			, url = #{url}
			, view_name = #{viewName}
			, work_date = #{workDate}
			, thumbnail = #{thumbnail}
			, display_yn = #{displayYN}
	</insert>
	
	<delete id="deletePortfolio" parameterType="portfolio">
		/* PortfolioMapper.deletePortfolio */
		DELETE FROM portfolio
		WHERE portfolio_no = #{portfolioNo}
	</delete>
</mapper>