<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casker.portfolio.mapper.ProjectMapper">
	
	<select id="selectProjectList" resultType="project">
		/* ProjectMapper.selectProjectList */
		SELECT 
			  project_no
			, project_name
			, participation_part
			, date
			, url
		FROM  project
	</select>
</mapper>