<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casker.portfolio.mapper.RecentlyMapper">

	<select id="selectRecentlyListCount" resultType="int" parameterType="baseSearch">
		/* RecentlyMapper.selectRecentlyListCount */
		SELECT 
			COUNT(1)
		FROM  recently
		<where> 1 = 1
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(displayYN)">
			AND	display_yn = #{displayYN}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(recentlyName)">
			AND recently_name LIKE CONCAT('%', #{recentlyName}, '%')
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(startDate)">
			AND start_date &gt; CAST(#{startDate} AS DATETIME)
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(endDate)">
			AND end_date &lt; CAST(#{endDate} AS DATETIME)
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(companyName)">
			AND company_name LIKE CONCAT('%', #{companyName}, '%')
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(participationPart)">
			AND participation_part = #{participationPart}
			</if>
		</where>
	</select>
	
	<select id="selectRecentlyList" resultType="recently" parameterType="baseSearch">
		/* RecentlyMapper.selectRecentlyList */
		SELECT 
			  recently_no
			, recently_name
			, company_name
			, participation_part
			, create_date
			, url
			, display_yn
			, sort
		FROM  recently
		<where> 1 = 1
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(displayYN)">
			AND	display_yn = #{displayYN}
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(recentlyName)">
			AND recently_name LIKE CONCAT('%', #{recentlyName}, '%')
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(startDate)">
			AND start_date &gt; CAST(#{startDate} AS DATETIME)
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(endDate)">
			AND end_date &lt; CAST(#{endDate} AS DATETIME)
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(companyName)">
			AND company_name LIKE CONCAT('%', #{companyName}, '%')
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(participationPart)">
			AND participation_part = #{participationPart}
			</if>
		</where>
		ORDER BY sort DESC
		<if test="all == false">
		LIMIT #{skipRows}, #{pageSize}
		</if>
	</select>
	
	<select id="selectRecently" resultType="recently" parameterType="long">
		/* RecentlyMapper.selectRecently */
		SELECT 
			  recently_no
			, recently_name
			, company_name
			, participation_part
			, create_date
			, url
			, DATE_FORMAT(start_date, '%x-%m-%d')	AS startDate
			, DATE_FORMAT(end_date, '%x-%m-%d')		AS endDate
			, display_yn
			, sort
		FROM  recently
		WHERE
			recently_no = #{recentlyNo}
	</select>
	
	<insert id="insertRecently" parameterType="recently">
		/* RecentlyMapper.insertRecently */
		INSERT recently
		SET 
			  recently_no = #{recentlyNo}
			, recently_name = #{recentlyName}
			, company_name = #{companyName}
			, participation_part = #{participationPart}
			, create_date = NOW()
			, url = #{url}
			, start_date = CAST(#{startDate} AS DATETIME)
			, end_date = CAST(#{endDate} AS DATETIME)
			, display_yn = #{displayYN}
			, sort = #{sort}
	</insert>
	
	<update id="updateRecently" parameterType="recently">
		/* RecentlyMapper.updateRecently */
		UPDATE recently
		SET
			  recently_name = #{recentlyName}
			, url = #{url}
			, display_yn = #{displayYN}
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(companyName)">
			, company_name = #{companyName}
		</if> 
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(participationPart)">
			, participation_part = #{participationPart}
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(startDate)">
			, start_date = CAST(#{startDate} AS DATETIME)
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(endDate)">
			, end_date = CAST(#{endDate} AS DATETIME)
		</if>
		WHERE
			recently_no = #{recentlyNo}
	</update>
	
	<delete id="deleteRecently" parameterType="recently">
		/* RecentlyMapper.deleteRecently */
		DELETE FROM recently
		WHERE recently_no = #{recentlyNo}
	</delete>
	
	<update id="updateRecentlySort" parameterType="map">
		/* RecentlyMapper.updateRecentlySort */
		UPDATE recently
		SET
			sort = #{newSort}
		WHERE
			sort = #{oldSort}
	</update>
</mapper>